<h1>Edit Trip</h1>
<div class="new_edit_form_container">     

    <%= form_with model: @trip, url: user_trip_path(current_user.id, @trip.id), method: "patch" do |f|%>

        <%= render partial: 'form', locals: {f: f}%>
    <%end%>
</div>