<h1>New Trip</h1>
<div class="new_edit_form_container">     

    <%= form_with model: @trip, url: user_trips_path(current_user.id), method: "post" do |f|%>

        <%= render partial: 'form', locals: {f: f}%>
    <%end%>
</div>


