<h1>Welcome to The Jetsetter Wallet</h1>
<p> Here you can track and share your past, current, future trips while getting inspiration from other Jetsetters Worldwide.</p>

<br>


<%= link_to all_countries_path do %>
  <%= image_tag "ISIC-BLOG-POST-1-HERO@2x.png", id:"countries", class:"homepage_image" %>
<% end %>