<h1>Jetsetters Worldwide</h1>

    <% @users.each do |user|%>
    <div class="user_container">
        <h3><%= link_to "Jetsetter #{user.username}", user_trips_path(user) %></h3>
        Cities Visited: <%= user.cities.count%>

    </div>
    <%end%>
