<%@countries.each do |country| %> 
        <div class="card_for_each_country">
                <h3 class="card-header"><%= link_to country.name, country_path(country)%> </h3>

                <%country.cities.each do |city| %> 
                    <p class="card-text"><%= city.name %></p>
                    
                    <%= "Total of #{country.trips.count} Trips" %>
                <%end%>
        </div>

    
<%end%>


