<%@countries.sort.each do |country| %> 
        <div class="card for_each_country">
            <h5 class="card-header"><%=country.name%> </h5>
            <div class="card-body">
                <%country.cities.each do |city| %> 
                    <p class="card-text"><%= city.name %></p>
                    
                    <a href="/countries/:id/cities/:id/trips" class="btn btn-primary">View 2543 Trips</a>
                <%end%>
            </div>
        </div>

    
<%end%>


