<h1>Cities To Visit In <%= @country.name%></h1>
<%@country.cities.each do |city| %> 
        <div class="card_for_each_country">
                <h3 class="card-header"><%= link_to city.name, country_city_path(@country.id, city.id)%> </h3>

                 <%= "Total of #{city.trips.count} Trips"  %>
        </div>

    
<%end%>