body {
    margin: 0;
    padding-top: 3em;
    
}

/* Navigation */
ul.topnav {
  list-style-type: none;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  position: fixed;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: rgb(142, 76, 175);}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


.card_for_each_country {
    display: inline-grid;
    height: 200px;
    width: 300px;
    padding: 1em;
    text-align: center;
    background-color: rgb(155, 129, 179);
    margin: .5em;
}

.card_header {
    padding: 3em;
}

.page_content_container {
    text-align: center;

}

.logo_header {
    background-color: #111;
    font-weight: bold;
}